---
import CodeIcon from "./icons/CodeIcon.astro"

const TAGS = {
  PHP: {
    name: "PHP",
    class: "bg-blue-600 text-white",
    icon: CodeIcon,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-gray-600 text-white",
    icon: CodeIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-500 text-black",
    icon: CodeIcon,
  },
  PYTHON: {
    name: "Python",
    class: "bg-blue-800 text-white",
    icon: CodeIcon,
  },
  ARCGIS: {
    name: "ArcGIS",
    class: "bg-green-600 text-white",
    icon: CodeIcon,
  },
  GRAFANA: {
    name: "Grafana",
    class: "bg-orange-500 text-white",
    icon: CodeIcon,
  },
}

const PROJECTS = [
  {
    title: "Intranet de Análisis de Datos - Utedevas",
    description:
      "Desarrollé una plataforma web de intranet para análisis de datos utilizando HTML, CSS, PHP, JavaScript, MySQL y servicios web SOAP. Implementé dashboards personalizados por departamento, mejorando la experiencia del usuario y aumentando la eficiencia en la toma de decisiones en un 35%.",
    image: "/projects/intranet.webp",
    tags: [TAGS.PHP, TAGS.MYSQL, TAGS.JAVASCRIPT],
  },
  {
    title: "Sistema de Cartografía para Vehículos Movilcar",
    description:
      "Mejoré el software de cartografía utilizado en vehículos Movilcar, integrando ArcGIS, AutoCAD y bases de datos SQL. Este proyecto optimizó el posicionamiento de vehículos capturados en un 50%, mejorando la precisión y la funcionalidad del sistema.",
    image: "/projects/cartografia.webp",
    tags: [TAGS.ARCGIS, TAGS.MYSQL],
  },
  {
    title: "Sistema de Monitorización con Grafana",
    description:
      "Diseñé e implementé un sistema de monitorización basado en Grafana para visualizar datos SQL, permitiendo un seguimiento en tiempo real de métricas críticas. Este proyecto mejoró la visibilidad y la toma de decisiones en los procesos internos.",
    image: "/projects/monitorizacion.webp",
    tags: [TAGS.GRAFANA, TAGS.MYSQL],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:- No hay enlaces disponibles para este proyecto.translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
          </div>
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              <span class="text-sm text-gray-500 dark:text-gray-400">No hay enlaces disponibles para este proyecto.</span>
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>